{{> hearder}}
{{> navbar}}
 <center><img src="assets/imagen/mun.png" class="rounded" width="500" height="200"></center>
<div class="container">
  <div class="row">
    <div class="col">
     <div class="jumbotron">
        <h1 class="display-4">{{ciudad1}}</h1>
        <h2>{{Tmp1}}°C</h2>
       
    </div>
    </div>
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">{{ciudad2}}</h1>
        <h2>{{Tmp2}}°C</h2>
    </div>
    </div>
  </div>
    </div> 

{{> footer}}